.mat-card{
    padding: 0;
    @media (min-width:768px){
        padding: 0.5rem; 
    }
}
.tool-links{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}
.transition-side{
    transition: all 0.15s ease-in-out;
}
.scroll-hidden{
    ::-webkit-scrollbar{
        display: none !important;
        width: 0 !important;
    }
}