<div class="w-full py-3 px-1 border-b border-lightBorder dark:border-darkBorder flex justify-between items-center leading-6">
    <div class="flex items-center flex-wrap">
        <span class="w-10 h-10 flex items-center justify-center">
            <mat-icon class="mat-full-center text-green-500 text-3xl">
                account_circle
            </mat-icon>
        </span>
        کاربر
        <a [routerLink]="['/profile', 'x']" class="text-[1.05rem] hover:opacity-90 dark:hover:opacity-80 mx-1">
            سیدعباس موسوی
        </a>
        با موفقیت در سایت ثبت نام کرد.
    </div>
    <div class="text-xs text-gray-700 dark:text-gray-300 pr-2 whitespace-nowrap">
        ۲۲ دقیقه پیش
    </div>
</div>
