<div class="w-[90%] mx-auto mt-2 bg-primary dark:bg-lprimary bg-opacity-60 dark:bg-opacity-50 rounded-md text-center text-lg md:text-xl p-3">
    داشبورد
</div>
<div class="w-[90%] mx-auto mt-5">
    <form class="w-full bg-llPrimary shadow-lightPrimary flex items-center justify-between rounded-md mt-5">
        <div class="w-full">
            <input type="text" placeholder="عنوان دسته‌بندی" class="w-full h-full bg-llprimary outline-none bg-transparent px-2 text-gray-900">
        </div>
        <button mat-raised-button color="primary" style="padding-top: 0.25rem;padding-bottom: 0.25rem;">
            ایجاد
        </button>
    </form>
    <app-category [category]="categories"></app-category>
</div>
