.mat-full-center{
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.mat-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom_card{
    @apply hover:bg-llprimary hover:shadow-md hover:shadow-primary dark:hover:bg-primary dark:hover:shadow-md dark:hover:shadow-lightPrimary dark:hover:bg-opacity-50 hover:transition-colors ease-in-out duration-300
}