<div class="w-[90%] mx-auto  bg-primary dark:bg-lprimary bg-opacity-60 dark:bg-opacity-50 rounded-md text-center text-lg md:text-xl p-3">
    داشبورد
</div>
<div class="w-[90%] mx-auto mt-5">
    <!-- <mat-accordion *ngIf="categories.length>0" [displayMode]="'flat'" theme="primray">
        <mat-expansion-panel *ngFor="let item of categories">
            <mat-expansion-panel-header>
                {{item.name}}
            </mat-expansion-panel-header>
            <div class="pt-4">
                <mat-accordion *ngIf="item.categories.length>0" [displayMode]="'flat'" class="pt-3">
                    <mat-expansion-panel *ngFor="let item of item.categories">
                        <mat-expansion-panel-header>
                            {{item.name}}
                        </mat-expansion-panel-header>
                        <div class="pt-4">
                            <mat-accordion *ngIf="item.categories.length>0" [displayMode]="'flat'" class="pt-3">
                                <mat-expansion-panel *ngFor="let item of item.categories">
                                    <mat-expansion-panel-header>
                                        {{item.name}}
                                    </mat-expansion-panel-header>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-expansion-panel>
    </mat-accordion> -->
    <app-category [category]="categories"></app-category>
</div>
