.containerClass .mce-flow-layout {
    white-space: normal;
    display: flex;
    flex-direction: row-reverse;
}
.mat-card{
    padding: 0;
}
.mat-raised-button{
    width:80%;
    border-radius: 1.5rem;
    margin-top: 1.5rem;
}