<div class="grid grid-cols-4">
    <div class="col-span-3">

    </div>
    <div class="col-span-1 border-r-2 border-primary pr-3 pl-2">
        <form class="example-section" [formGroup]="issueTypeFormControl">
            <h4 >حالت مسئله</h4>
            <p><mat-checkbox formControlName="todo">Todo</mat-checkbox></p>
            <p><mat-checkbox formControlName="inProgress">InProgress</mat-checkbox></p>
            <p><mat-checkbox formControlName="done">Done</mat-checkbox></p>
        </form>
    </div>
</div>