<div class="w-full flex">
    <div class="w-full">
        <app-issue-main></app-issue-main>
        <!-- <div class="w-full border-b border-primary text-primary dark:text-lightPrimary pb-2 mb-3 text-lg">
            امروز
        </div>
        <div class="flex">
            <div>
                <div>
                    این بخش مربوط به عنوان یک مسئله است
                </div>
                
            </div>
        </div> -->
    </div>
    <div class="relative w-14 flex justify-center">
        <button matRipple class="w-10 h-10 rounded-full overflow-hidden flex items-center justify-center bg-primary dark:bg-lightPrimary" (click)="changeFilterState()">
            <mat-icon class="mat-full-center text-white">
                filter_list
            </mat-icon>
        </button>
        <div class="w-screen h-screen fixed" *ngIf="!isShowFilter" (click)="changeFilterState()"></div>
        <div *ngIf="!isShowFilter" class="absolute top-11 left-3 transition-opacity ease-in-out duration-100 z-10" [class]="filterOpacity">
            <app-issue-filter></app-issue-filter>
        </div>
    </div>
</div>