.mat-card{
    padding: 0;
    @media (min-width:768px){
        padding: 0.5rem; 
    }
}
.content-width{
    width: calc(100% - 56px);
    @media(min-width: 768px){
        width: calc(100% - 72px);
    }
}