<div class="w-full h-full flex">
    <div class="w-1/4 h-full py-3 px-1 bg-yellow-300">
        <mat-card class="">
            <div class="flex items-center">
                <div class="ml-3">
                    <mat-icon class="mat-full-center text-[3.5rem]">
                        account_circle
                    </mat-icon>
                </div>
                <div class="text-lg">
                    ابوالفضل زراعتکار
                </div>
            </div>
            <div class="my-3 w-full border border-t border-[#f1f2f4] mat-app-background"></div>
            <ul>
                <li>
                    <a href="" class="flex items-center">
                        <mat-icon class="mat-center ml-2">
                            dashboard
                        </mat-icon>
                        داشبورد
                    </a>
                </li>
            </ul>
        </mat-card>
    </div>
    <div class="w-3/4 min-h-full bg-yellow-500">

    </div>
</div>