<div class="w-full grid grid-cols-3 gap-5">
    <div class="col-span-1 border border-color rounded-md bg-[#fafafa] dark:bg-[#575757]">
        <div class="w-full py-3 px-3 border-b border-color text-primary dark:text-llPrimary text-lg font-semibold text-center">
            ToDo
        </div>
        <div class="w-full px-3 py-4">
            <div class="w-full p-2 bg-lightCardBg dark:bg-darkCardBg rounded-md border border-color">

            </div>
        </div>
    </div>
    <div class="col-span-1 border border-color rounded-md bg-[#fafafa] dark:bg-[#575757]">
        <div class="w-full py-3 px-3 border-b border-color text-primary dark:text-llPrimary text-lg font-semibold text-center">
            InProgress
        </div>
        hello
    </div>
    <div class="col-span-1 border border-color rounded-md bg-[#fafafa] dark:bg-[#575757]">
        <div class="w-full py-3 px-3 border-b border-color text-primary dark:text-llPrimary text-lg font-semibold text-center">
            Done
        </div>
        hello
    </div>
</div>