.mat-card{
    padding-inline: 0;
    @media (min-width:768px){
        padding-inline: 0.5rem; 
    }
}
.tool-links{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}
.transition-side{
    transition: all 0.15s ease-in-out;
}