<mat-toolbar color="primary" class="flex justify-between items-center">
    <div class="flex items-center">
      <button mat-icon-button class="p-2 rounded-md" (click)="menu.emit()">
        <mat-icon class="mat-center">
          menu
        </mat-icon>
      </button>
      <a matRipple routerLink="/" (click)="route()" class="w-10 h-10 p-1 rounded-full flex items-center justify-center">
        <img src="https://inolinx.com/assets/image/site-logo.webp" alt="" class="min-w-full min-h-full object-cover">
      </a>
      <form action="" class="h-full relative mr-3 hidden">
        <input type="text" placeholder="جستجو" class="text-gray-800 text-sm py-1 px-3 rounded-3xl focus:outline-none h-full">
        <button type="submit" class="absolute left-0 top-1 h-full z-10 text-red-400">
          <mat-icon class="mat-center text-gray-700 px-1">
            search
          </mat-icon>
        </button>
        <input type="submit" class="w-0 h-0 overflow-hidden">
      </form>
    </div>
    <div class="flex items-center">
      <div class="flex">
        <mat-icon class="mat-center ml-2">
          {{darkMode?'dark_mode':'light_mode'}}
        </mat-icon>
        <mat-slide-toggle class="" (toggleChange)="changeMode()">
        </mat-slide-toggle>
      </div>
      <div class="relative flex items-center justify-center">
        <a (click)="isShowProfile = !isShowProfile;route()" class="rounded-full w-10 h-10 bg-white overflow-hidden cursor-pointer z-20">
          <img src="assets/img/profile.jpg" alt="" class="w-full h-full object-cover">
        </a>
        <div *ngIf="isShowProfile" class="mat-app-background absolute top-11 left-0 z-20 border border-inputBg rounded-md transition-all ease-in-out duration-300">
          <app-profile-dropdown (closeProfile)="isShowProfile = false"></app-profile-dropdown>
        </div>
        <div *ngIf="isShowProfile" (click)="isShowProfile = !isShowProfile" class="fixed w-screen h-screen top-0 left-0 bg-darkCardBg dark:bg-lightCardBg bg-opacity-30 dark:bg-opacity-30 z-10"></div>
      </div>
    </div>
</mat-toolbar>