<header #header [class]="darkMode?'darkMode':''" class="">
    <app-header (darkModeChange)="setMode($event)" (initHeight)="setMainHeight()" (menu)="drawer.toggle()"></app-header>
</header>
  <main [class]="darkMode?'darkMode dark':''" class="example-container h-full" (window:resize)="setMainHeight()" [style]="mainHeight">
    <mat-drawer-container class="h-full" [hasBackdrop]="true" autosize>
      <mat-drawer #drawer class="example-sidenav w-full md:w-1/4" mode="side"> 
        <app-sidebar></app-sidebar>
      </mat-drawer>
    
      <div class="example-sidenav-content h-full overflow-y-scroll scrollbar-style">
        <router-outlet></router-outlet>
      </div>
    
    </mat-drawer-container>
  </main>