<header [class]="darkMode?'darkMode':''" class="">
  <mat-toolbar color="primary" class="flex justify-between items-center">
    <div class="flex items-center">
      <button mat-icon-button class="p-2 rounded-md" (click)="drawer.toggle()">
        <mat-icon class="mat-center">
          menu
        </mat-icon>
      </button>
      <a matRipple routerLink="/">
        <mat-icon class="mat-center">
          home
        </mat-icon>
      </a>
      <form action="" (ngSubmit)="doIt()" class="h-full relative mr-3">
        <input type="text" placeholder="جستجو" class="text-gray-800 text-sm py-1 px-3 rounded-3xl focus:outline-none h-full">
        <button type="submit" class="absolute left-0 top-1 h-full z-10 text-red-400">
          <mat-icon class="mat-center text-gray-700 px-1">
            search
          </mat-icon>
        </button>
        <input type="submit" class="w-0 h-0 overflow-hidden">
      </form>
    </div>
    <div class="flex items-center">
      <div class="flex">
        <mat-icon class="mat-center ml-2">
          {{darkMode?'dark_mode':'light_mode'}}
        </mat-icon>
        <mat-slide-toggle class="" (toggleChange)="changeMode()" [(ngModel)]="darkMode">
        </mat-slide-toggle>
      </div>
      <a href="" class="rounded-full w-6 h-6 bg-white overflow-hidden cursor-pointer">
        <img src="https://inolinx.com/assets/image/site-logo.webp" alt="" class="w-full h-full object-cover">
      </a>
    </div>
  </mat-toolbar>
</header>
<body [class]="darkMode?'darkMode':''" class="example-container">
  <mat-drawer-container class="min-h-full" autosize>
    <mat-drawer #drawer class="example-sidenav w-full md:w-1/4" mode="side"> 
      <app-sidebar></app-sidebar>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
</body>