<header [class]="darkMode?'darkMode':''" class="">
  <mat-toolbar color="primary" class="flex justify-between items-center">
    <div class="flex items-center">
      <button mat-icon-button class="p-2 rounded-md" (click)="drawer.toggle()">
        <mat-icon class="mat-center">
          menu
        </mat-icon>
      </button>
      <mat-slide-toggle class="mr-8" [(ngModel)]="darkMode">
      </mat-slide-toggle>
    </div>
  </mat-toolbar>
</header>
<body [class]="darkMode?'darkMode':''" class="example-container">
  <mat-drawer-container class="h-screen" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side"> 
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container>
</body>