<div class="w-full grid grid-cols-2 gap-3 max-h-[400px] overflow-y-scroll scroll-bar">
    <div *ngFor="let item of [1,2,3,4,5,6,7,8,9]" class="col-span-2 md:col-span-1 aspect-square overflow-hidden rounded-md bg-slate-400 dark:bg-slate-800 cursor-pointer hover:bg-lightPrimary border-2 border-transparent hover:border-lightPrimary" [class]="activeNum==item?'bg-lightPrimary border-lightPrimary':''" (click)="activeNum=item">
        <img [src]="getImageSource(item)" class="object-cover max-w-full max-h-full">
    </div>
</div>
<div class="mt-3 flex justify-end">
    <button [disabled]="activeNum==0" mat-raised-button color="primary" [mat-dialog-close]="getImageSource(activeNum)">
        ثبت
    </button>
</div>
