<div class="w-[90%] mx-auto  bg-primary dark:bg-lprimary bg-opacity-60 dark:bg-opacity-50 rounded-md text-center text-lg md:text-xl p-3">
    نام مسئله
</div>
<div class="w-full mt-5">
    <div class="w-[90%] mx-auto">
        <div class="flex items-start justify-between">
            <div class="w-10 h-10 flex items-center justify-center rounded-md overflow-hidden">
                <img src="assets/img/profile.jpg" alt="" class="min-w-full min-h-full object-cover">
            </div>
            <div class="card-width">
                <div class="w-full h-10 flex items-center rounded-t-md pl-2 bg-lightBorder dark:bg-darkBorder">
                    <div class="w-3 h-3 -mr-[0.3rem] rotate-45 rounded-sm bg-lightBorder dark:bg-darkBorder"></div>
                    <span>
                        یه بنده‌خدایی
                    </span>
                    این کامنت را در 
                    <span>
                        دیروز
                    </span>
                    ایجاد نموده است
                </div>
                <div class="w-full p-3 rounded-b-md bg-lightBg dark:bg-darkBg shadow-md">
                    <span class="opacity-80">
                        محتوایی وجود ندارد
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>