<div class="w-full flex justify-between overflow-x-auto scrollbar-thin">
    <div class="w-1/3 px-2 md:pl-4 min-w-full md:min-w-[320px]">
        <div class="w-full border border-color rounded-md bg-[#fafafa] dark:bg-[#575757]">
            <div class="w-full py-3 px-3 border-b border-color text-primary dark:text-llPrimary text-lg font-semibold text-center">
                ToDo
            </div>
            <div class="w-full h-[calc(100vh-12rem)] px-3 pt-4 overflow-y-scroll">
                <app-issue-card *ngFor="let item of list"></app-issue-card>
            </div>
        </div>
    </div>
    <div class="w-1/3 px-2 min-w-full md:min-w-[320px]">
        <div class="w-full border border-color rounded-md bg-[#fafafa] dark:bg-[#575757]">
            <div class="w-full py-3 px-3 border-b border-color text-primary dark:text-llPrimary text-lg font-semibold text-center">
                InProgress
            </div>
            <div class="w-full h-[calc(100vh-12rem)] px-3 pt-4 overflow-y-scroll">
                <app-issue-card *ngFor="let item of list3"></app-issue-card>
            </div>
        </div>
    </div>
    <div class="w-1/3 px-2 md:pr-4 min-w-full md:min-w-[320px]">
        <div class="w-full border border-color rounded-md bg-[#fafafa] dark:bg-[#575757]">
            <div class="w-full py-3 px-3 border-b border-color text-primary dark:text-llPrimary text-lg font-semibold text-center">
                Done
            </div>
            <div class="w-full h-[calc(100vh-12rem)] px-3 pt-4 overflow-y-scroll">
                <app-issue-card *ngFor="let item of list2"></app-issue-card>
            </div>
        </div>
    </div>
</div>