<div *ngIf="projects" class="w-[90%] mx-auto grid grid-cols-6 gap-3 py-5">
    <mat-card *ngFor="let project of projects" class="custom-card cursor-pointer" [class]="customClass" [routerLink]="['../x']">
        <div class="w-full h-full flex flex-col items-between justify-between">
            <div class="w-full h-full">
                <div class="rounded-lg mb-6 overflow-hidden flex items-center justify-center w-full aspect-square mx-auto">
                    <img [src]="project.imageUrl" [alt]="project.name" class="min-w-full min-h-full object-cover">
                </div>
                <p class="text-lg md:text-xl w-full text-center font-semibold">
                    {{project.name}}
                </p>
                <p class="w-full text-center">
                    <span class="text-gray-700 dark:text-gray-400 text-sm">
                        شرکت 
                    </span>
                    <span class="text-base">
                        {{project.company}}
                    </span>
                </p>
                <p class="w-full text-center">
                    <span class="text-gray-700 dark:text-gray-400 text-sm">
                        مالک  
                    </span>
                    <span class="text-base">
                        {{project.owner}}
                    </span>
                </p>
                <p class="w-full text-center">
                    <span class="text-gray-700 dark:text-gray-400 text-sm">
                        سازنده 
                    </span>
                    <span class="text-base">
                        {{project.creator}}
                    </span>
                </p>
                <p class="w-full text-center text-gray-700 dark:text-gray-400">
                    <span>
                        {{project.startDate}}
                    </span>
                    <span> ــــ </span>
                    <span>
                        {{project.endDate}}
                    </span>
                </p>
            </div>
            <div class="w-full flex justify-end">
                <button mat-raised-button color="primary">مشاهده</button>
            </div>
        </div>
    </mat-card>
</div>