<div class="w-full h-full flex flex-col justify-between">
    <div class="w-full h-full overflow-y-auto max-w-7xl mx-auto py-5 px-3">
        <div class="w-full py-2 border-b border-primary dark:border-lightPrimary text-primary dark:text-lightPrimary text-xl">
            امروز
        </div>
        <div class="px-3">
            <app-log-card *ngFor="let item of states" [state]="item"></app-log-card>
        </div>
    </div>
    <div class="w-full flex justify-center dark:bg-darkCardBg border-t border-lightBorder dark:border-none">
        <mat-paginator
            [length]="100"
            [pageSize]="10"
            [hidePageSize]="true"
            [showFirstLastButtons]="true"
            (page)="pageEvent=$event"
            class="w-full max-w-7xl"
        ></mat-paginator>
    </div>
</div>