<div class="w-[90%] mx-auto  mt-2 bg-primary dark:bg-lprimary bg-opacity-60 dark:bg-opacity-50 rounded-md text-center text-lg md:text-xl p-3">
    داشبورد
</div>
<mat-card class="w-[90%] mt-2 mx-auto">
    <div class="w-full flex items-center">
        <div class="w-full lg:text-lg">
            <p class="">
                <span class="font-semibold ml-1">
                    نام و نام‌خانوادگی :
                </span>
                <span>
                    {{profile().first_name}} {{profile().last_name}}
                </span>
            </p>
            <p class="">
                <span class="font-semibold ml-1">
                    تخصص‌ها :
                </span>
                <span *ngFor="let skill of profile().specialty;let i = index;">
                    <span *ngIf="i!=0"> ، </span>
                    {{skill}}
                </span>
            </p>
            <p class="">
                <span class="font-semibold ml-1">
                    تاریخ عضویت :
                </span>
                <span>
                    {{'1/2/03'}}
                </span>
            </p>
        </div>
        <div class="w-full md:w-1/5 flex items-center justify-centerp-3 aspect-square rounded-full border border-lightBorder dark:border-darkBorder overflow-hidden">
            <img [src]="profile().image?profile().image:'assets/img/default_profile.jpg'" [alt]="profile().first_name+' '+profile().last_name" class="min-w-full min-h-full object-cover rounded-md">
        </div>
    </div>
</mat-card>